/* Sidebar */
.sidebar {
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 300px;
    /*overflow-x: hidden;*/
    transition: 0.5s;
    background-color: slategray;
}
/* To hide sidebar */
.hide-sidebar {
    visibility: visible;
    opacity: 1;
}
/* Collapse sidebar button */
.close {
    cursor: pointer;
    color: #ffffff !important;
    font-size: 2rem !important;
    padding-top: 5px;
    padding-left: 10px;
    /*transform: translate(0%, -50%);*/
}
/* Sidebar collapse button in desktop view */
.collapse-sidebar {
    display: none;
}
/* View port at max 720px - tablet */
@media screen and (max-width: 720px) {
    /* Sidebar */
    .sidebar {
        position: fixed;
        z-index: 999;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s linear;
    }
    /* Collapse sidebar button */
    .collapse-sidebar {
        display: block;
    }
    /* To collapse sidebar */
    .hide-sidebar {
        visibility: hidden;
        opacity: 0;
    }
    /* To show sidebar */
    .show-sidebar {
        visibility: visible;
        opacity: 1;
    }
}